.menu {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.rotateIcon {
    transform: rotate(-180deg);
    color: #d6dce3;
    font-size: 20px;
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-right: 2rem;
    gap: 8px;
}

.font {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
}

.img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}

@media (max-width: 768px) {

    .menu {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: flex-start;
        gap: 0.5rem;
        width: 100%;
    }

}