.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    animation: slide-out 0.5s ease-in-out;
    gap: 8px;
}

.gambling {
    width: 9rem;
    height: 2.5rem;
    margin-right: -6rem;
    z-index: 999;
    border-color: white;
    border-width: thin;
    font-family: 'Nunito Sans', sans-serif;
    background: #28374D;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
}

.live {
    width: 14rem;
    height: 2.5rem;
    font-family: 'Nunito Sans', sans-serif;
    background: #2A303C;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    border-radius: 90px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.iconLive {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 3rem;
}


@media (max-width: 1024px) {
    .container {
        display: none;
        animation: fade-out 5s ease-in-out;
}
}

@media (max-width: 768px) {
    .container {
        display: none;
        animation: fade-out 5s ease-in-out;
}
}

@media (max-width: 600px) {
    .container {
        display: none;
        animation: fade-out 5s ease-in-out;
}
}

@keyframes slide-out {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-5%, 0);
      -webkit-transform: translate(-5%, 0);
      -moz-transform: translate(-5%, 0);
      -ms-transform: translate(-5%, 0);
      -o-transform: translate(-5%, 0);
}
  }