.container {}


.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* ========================== LEFT ========================== */

.backgroundImage {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/goldentickets-da603.appspot.com/o/img%2Fassets%2F_1771a657-35c4-41a8-a702-fcf19532989b.png?alt=media&token=f317b0b8-b0a7-4640-9447-82cf287700ed");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    opacity: 90%;
}

.backgroundImageSignup {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/goldentickets-da603.appspot.com/o/img%2Fassets%2Fwolf.png?alt=media&token=a75dc3cc-fbb8-4cfb-b3a7-d64ae284fd1b");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    opacity: 90%;
}


.welcomeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.welcomeContainer>h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.welcomeContainer>p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: #a7caff;
}

.welcomeContainerSignup {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
}


.welcomeContainerSignup>h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem !important;
    font-weight: 900;
    color: white;
}

.subText {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap !important;
}

.subText>p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #a7caff;
}

/* ========================== RIGHT ========================== */


.loginRight {
    background: #072349;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.signupRight {
    background: #072349;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    width: 60%;
    gap: 2rem;
}

.title {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    width: 100%;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    width: 80%;
    gap: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    width: 100%;
    align-content: center;
}

.input {
    width: 100%;
    height: 2.9rem;
    border-radius: 4px;
    outline: none;
    background: #02346C;
    color: #ffffff;
    text-align: initial;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 800;
}

.limited {
    font-family: 'Nunito Sans', sans-serif;
    color: #4272B4;
    font-size: 12px;
    font-weight: 800;
}

.label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: white;
}

.inputTerms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.terms {
    background: #072349;
}

.termsCondition {
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.03em;
}


/* ===================== RESET PASSWORD ===================== */
.forgotWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    gap: 2rem;
}

.forgotRight {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/goldentickets-da603.appspot.com/o/img%2Fassets%2F_212b8347-08f5-4d38-8871-f630aab609d3.png?alt=media&token=9434371f-2a99-48d5-b5bc-d5e0ea8104f0");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    opacity: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.forgotContainer {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/goldentickets-da603.appspot.com/o/img%2Fassets%2F_212b8347-08f5-4d38-8871-f630aab609d3.png?alt=media&token=9434371f-2a99-48d5-b5bc-d5e0ea8104f0");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    opacity: 80%;
}

.forgotWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.formForgot {}


@media (max-width: 1024px) {
    .welcomeContainerSignup>h2 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.5rem !important;
        font-weight: 900;
        color: white;
    }

}

@media (max-width: 768px) {
    .welcomeContainer>h2 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 2rem;
        font-weight: 900;
        color: white;
    }

    .welcomeContainer>p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.2rem;
        font-weight: 800;
        color: #a7caff;
    }

    .backgroundImage {
        display: none;
    }

    .backgroundImageSignup {
        display: none;
    }

    .forgotRight {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/goldentickets-da603.appspot.com/o/img%2Fassets%2F_212b8347-08f5-4d38-8871-f630aab609d3.png?alt=media&token=9434371f-2a99-48d5-b5bc-d5e0ea8104f0");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100vh;
        opacity: 80%;
    }

    .loginRight {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/goldentickets-da603.appspot.com/o/img%2Fassets%2F_1771a657-35c4-41a8-a702-fcf19532989b.png?alt=media&token=f317b0b8-b0a7-4640-9447-82cf287700ed");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100vh;
        opacity: 80%;
    }

    .signupRight {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/goldentickets-da603.appspot.com/o/img%2Fassets%2Fwolf.png?alt=media&token=a75dc3cc-fbb8-4cfb-b3a7-d64ae284fd1b");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100vh;
        opacity: 80%;
    }

    .loginWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: flex-start;
        width: 90%;
        gap: 2rem;
    }
    .forgotWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: flex-start;
        width: 90%;
        gap: 2rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        width: 100%;
        gap: 1rem;
    }

    .welcomeContainerSignup>h2 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.2rem !important;
        font-weight: 900;
        color: white;
    }

    .subText>p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 14px;
        font-weight: 800;
        color: #a7caff;
    }
}

@media (max-width: 600px) {
    .welcomeContainer>h2 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.8rem;
        font-weight: 900;
        color: white;
    }

    .welcomeContainer>p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 15px;
        font-weight: 800;
        color: #a7caff;
    }

    .forgotWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: flex-start;
        width: 90%;
        gap: 2rem;
    }
    .loginWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: flex-start;
        width: 90%;
        gap: 2rem;
    }

    .form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        width: 80%;
        gap: 1rem;
    }

    .welcomeContainerSignup>h2 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 0.8rem !important;
        font-weight: 900;
        color: white;
    }

    .subText>p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 12px;
        font-weight: 800;
        color: #a7caff;
    }

    .limited {
        font-family: 'Nunito Sans', sans-serif;
        color: #dadada;
        font-size: 12px;
        font-weight: 800;
    }
    .termsCondition {
        font-family: 'Nunito Sans', sans-serif;
        color: #ffffff;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 0.03em;
    }
    
}

@media (max-width: 480px) {
    .welcomeContainer>h2 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 900;
        color: white;
    }

    .welcomeContainer>p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 16px;
        font-weight: 800;
        color: #a7caff;
    }

    .welcomeContainerSignup>h2 {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 0.6rem !important;
        font-weight: 900;
        color: white;
    }

    .subText>p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 10px;
        font-weight: 800;
        color: #a7caff;
    }

    .limited {
        font-family: 'Nunito Sans', sans-serif;
        color: #dadada;
        font-size: 12px;
        font-weight: 800;
    }
    .termsCondition {
        font-family: 'Nunito Sans', sans-serif;
        color: #ffffff;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 0.03em;
    }
    
}