/*eslint-disable-next-line  */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Lato Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
/* Oswald Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Oswald:wght@700&display=swap');
/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* 300 */@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* 400 */@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
/* 500 */@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');;
/* 600 */@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
/* 700 */@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* Inter Font*/
/* 300 */@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
/* 400 */@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* 500 */@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
/* 600 */@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
/* 700 */@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
/* Biryani Font*/
/* 200 */@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200&display=swap');
/* 300 */@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&display=swap');
/* 400 */@import url('https://fonts.googleapis.com/css2?family=Biryani&display=swap');
/* 600 */@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@600&display=swap');
/* 700 */@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@700&display=swap');
/* 800 */@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@800&display=swap');

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

