.pagination-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    min-width: 100%;
    background: white;
    margin: 1rem 0 1rem 0;
    overflow-x: auto;
    flex-wrap: wrap;
}

  
.pagination-active {
    background: black;
    padding: 2px 8px 2px 8px;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}