/* ROOT CSS VARIABLES */
:root {
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    /* --color-primary: rgb(71, 7, 234); */
    --color-primary: rgb(207, 207, 207);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);

    --color-primary-light: rgb(71, 7, 234, 0.2);
    --color-success-light: rgb(34, 202, 75, 0.2);
    --color-danger-light: rgb(255, 67, 54, 0.2);
    --color-purple-light: rgb(160, 99, 245, 0.2);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 12px;
}

body {
    background: #17171F;
    font-family: 'Biryani', sans-serif;
    /* min-height: 100vh; */
    /* color: var(--color-dark) */
}

img {
    width: 100%;
}

h1 {
    font-size: 2.2rem;
}

_ h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.86rem;
    font-weight: 500;
}

h6 {
    font-size: 0.76rem
}

p {
    font-size: 0.86rem;
    color: var(--color-gray-dark);
}

small {
    font-weight: 300;
    font-size: 0.77rem
}

.text_muted {
    color: var(--color-gray-light);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.purple {
    color: var(--color-purple);
}

.bg_primary {
    background: var(--color-primary);
    box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}

.bg_danger {
    /* background: var(--color-danger-light); */
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}

.bg_success {
    background: var(--color-success);
    box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}

.bg_purple {
    background: var(--color-purple);
    box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}

.bg_dark {
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
    
}

/* ================ PACKAGES ================ */
.main {
    display: grid;
    gap: 2rem;
    width: 100%;
    height: 100vh;
    background: #17171F;
}
/* .main {
    display: grid;
     grid-template-columns: 16rem auto 3rem; 
    gap: 2rem;
    width: 96%;
    margin: 1rem auto 4rem;
    background: linear-gradient(230deg, rgba(16, 27, 34, 1) 18%, rgba(9, 34, 43, 1) 25%, rgba(9, 10, 14, 1) 40%, rgba(9, 20, 28, 1) 60%, rgba(26, 60, 85, 1) 85%, rgba(27, 30, 55, 1) 92%, rgba(38, 36, 65, 1) 97%);
} */

.section {
    display: grid;
    gap: 1rem;
}

.container {
    width: 100%;
}

.wraper {
    width: 100%;
}
.profileCard {
    background: var(--color-white);
    gap:2rem;
}
.info {
    background: var(--color-white);
}
.stats {
    background: var(--color-white);
}
.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    margin-top: 1rem;
    padding: 1rem;
}


/* =================== MEDIA QUERIES FOR TABLETS  =================== */
@media screen and (max-width: 1248px) {

    .package {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        gap: 1rem;
        word-break: break-word;
        padding: var(--card-padding);
        background: var(--color-white);
    }
}



@media screen and (max-width: 1445px) {

    .investment {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

}
@media screen and (max-width: 1024px) {
    .main {
        grid-template-columns: 1fr;
    }
    .investment {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

}


@media screen and (max-width: 700px) {

    .package {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        gap: 1rem;
        word-break: break-word;
        padding: var(--card-padding);
        background: var(--color-white);
    }
}

/* =================== MEDIA QUERIES FOR MOBILE PHONES  =================== */
@media screen and (max-width: 500px) {

    .package {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        gap: 1rem;
        word-break: break-word;
        padding: var(--card-padding);
        background: var(--color-white);
    }
}