body {
    background: #111A29;
}

.modalBackground {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    position: fixed;
    background: #041b3bcf;
    z-index: 9999;
    overflow-x: scroll;
}

.container {
    background: #111A29;
    /* margin-top: -5rem; */
    /* margin-top: 1rem; */
    width: 90%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 90px -42px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 90px -42px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 90px -42px rgba(0, 0, 0, 1);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.header {
    background: #1C2533;
    width: 100%;
    height: 9rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.divider {
    width: 98%;
    height: 2px;
    background: #1C2533;
}

.depositContainer {
    width: 100%;
    height: 8rem;
}

.depositWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 6rem;
}

.depositWrapper>h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 900;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-style: italic;
}

.depositWrapper>p {
    font-size: 16px;
    color: #3B7FE7;
    font-weight: 500;
    letter-spacing: 0.025em;
    text-transform: capitalize;
}

.coinNetworkContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.generateContainer {
    width: 100%;
    border-bottom-left-radius: 30px;
    background: #111A29;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 6rem;
}

.generateWrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.generateAddress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.generateAddress>h2 {
    font-size: 1.4rem;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 900;
    letter-spacing: 0.025em;
    text-transform: capitalize;
}

.generateAddress>p {
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-transform: capitalize;
}

.button {
    background: #222F42;
    width: 8rem;
    height: 3rem;
    font-weight: 700;
    border-radius: 30px;
    color: white;
}

/* ==================== QR SECTION ====================== */

.qrContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-content: center;
}

.qrLabel {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    color: #99A6BC;
    font-weight: 200;
    font-size: 14px;
}

.qr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    width: 90%;
    height: 100%;
    gap: 2rem;
}

.qrButton {
    background: #28374D;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 30px;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.qrAddress {
    background: #28374D;
    width: 24rem;
    outline: none;
}

.qrCopy {
    background: #1C6CE4;
    color: white;
    width: 6rem;
    height: 2.5rem;
    border-radius: 30px;
}

.paymentAddress {
    background: #1C2533;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}



.paymentWarninigNote {
    background: #1C2533;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    align-content: center;
}

.paymentWarninigNote>h3 {
    color: #93A0B4;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
}
.paymentWarning {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}

.paymentWarning>li {
    color: #93A0B4;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

.withdrawContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.withdrawContainer>p {
    color: #93A0B4;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

/* ======================= WITHDRAWAL FORM ======================= */
.withdrawForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 1rem;
} 
.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    width: 100%;
    align-content: center;
}

.input {
    outline: none;
    width: 100%;
    height: 2.9rem;
    border-radius: 30px;
    background: #28374D;
    color: #ffffff;
    text-align: initial;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.labelWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-content: center;
}
 .label {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #435269;
}
 .minLabel {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    color: #3979DB;
}


@media (max-width: 768px) {
    .depositWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        height: 6rem;
    }

    .depositWrapper>h4 {
        font-size: 1.4rem;
        font-family: 'Nunito Sans', sans-serif;
        color: #FFFFFF;
        font-weight: 900;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        font-style: italic;
    }

    .depositWrapper>p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 12px;
        color: #3B7FE7;
        font-weight: 500;
        letter-spacing: 0.025em;
        text-transform: capitalize;
    }

    .generateAddress>h2 {
        font-size: 1rem;
        font-family: 'Nunito Sans', sans-serif;
        color: #FFFFFF;
        font-weight: 900;
        letter-spacing: 0.025em;
        text-transform: capitalize;
    }

    .generateAddress>p {
        font-size: 10px;
        font-family: 'Nunito Sans', sans-serif;
        color: #FFFFFF;
        font-weight: 600;
        letter-spacing: 0.025em;
        text-transform: capitalize;
    }
    
    .qr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    .qrButton {
        background: #28374D;
        /* padding: 3rem 1rem 2rem 1rem; */
        /* padding-right: 2rem; */
        border-radius: 13px;
        width: 100%;
        height: 9rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .qrCopy {
        background: #1C6CE4;
        color: white;
        width: 100%;
        height: 2.5rem;
        border-radius: 30px;
    }

    .qrAddress {
        background: #28374D;
        outline: none;
        width: 80%;
    }
}

@media (max-width: 480px) {
    .depositWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        height: 6rem;
    }

    .depositWrapper>h4 {
        font-size: 1.4rem;
        font-family: 'Nunito Sans', sans-serif;
        color: #FFFFFF;
        font-weight: 900;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        font-style: italic;
    }

    .depositWrapper>p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 12px;
        color: #3B7FE7;
        font-weight: 500;
        letter-spacing: 0.025em;
        text-transform: capitalize;
    }

    .generateAddress>h2 {
        font-size: 1rem;
        font-family: 'Nunito Sans', sans-serif;
        color: #FFFFFF;
        font-weight: 900;
        letter-spacing: 0.025em;
        text-transform: capitalize;
    }

    .generateAddress>p {
        font-size: 10px;
        font-family: 'Nunito Sans', sans-serif;
        color: #FFFFFF;
        font-weight: 600;
        letter-spacing: 0.025em;
        text-transform: capitalize;
    }

    .qr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
        gap: 2rem;
    }

    .qrButton {
        background: #28374D;
        /* padding: 3rem 1rem 2rem 1rem; */
        /* padding-right: 2rem; */
        border-radius: 13px;
        width: 100%;
        height: 9rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .qrCopy {
        background: #1C6CE4;
        color: white;
        width: 100%;
        height: 2.5rem;
        border-radius: 30px;
    }

    .qrAddress {
        background: #28374D;
        outline: none;
        width: 80%;
    }

}